h1{
    text-align: left;
    color:white;
    font: normal 24pt "Ubuntu";
    background-color: black
}

h2{
    text-align: left;
    color:black;
    font: normal 24pt "Ubuntu";
}

p,a{
    font: normal 16pt "Ubuntu";
    margin-left: 1em;
}

li.interests{
    display:list-item;
    list-style-type: disc;
    width: 100%;
    margin-left: 1em;
    padding: 5px;
    font: normal 16pt "Ubuntu";
}

ul.interests{
    display: list-item;
    position: relative;
    background-color: white;
    list-style-type: disc outside none;
    width: 100%;
    margin-left: 1em;
    padding: 5px;
}

.line{
    fill:none;
    stroke:steelblue;
    stroke-width:2px;
}