h1 {
    text-align: left;
    color: white;
    font: normal 24pt "Ubuntu";
    background-color: black
}

h2 {
    text-align: left;
    color: black;
    font: normal 24pt "Ubuntu";
}

p,a {
    font: normal 16pt "Ubuntu";
    margin-left: 1em;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
}

.grid path, .grid line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.25);
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
}

.legend {
    fill: white;
    stroke: black;
    opacity: 0.8;
}

input {
    text-align: center;
    width: 80px;
    margin: 5px;
}

.inputs {
    text-align: center;
}